In [1]:
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sam="""Mango is a fruit. It is rich in fibres. It is generally harvested in summer."""

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\arpna\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
nltk.sent_tokenize(sam)

['Mango is a fruit.',
 'It is rich in fibres.',
 'It is generally harvested in summer.']

In [5]:
nltk.word_tokenize(sam)

['Mango',
 'is',
 'a',
 'fruit',
 '.',
 'It',
 'is',
 'rich',
 'in',
 'fibres',
 '.',
 'It',
 'is',
 'generally',
 'harvested',
 'in',
 'summer',
 '.']

In [6]:
df=pd.read_csv(r'F:\Data science\Projects\train.tsv',sep='\t')
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [7]:
df.shape

(156060, 4)

In [8]:
li=[]
for i in df.Phrase:
    li.append(nltk.word_tokenize(i))

In [9]:
df['tokenize_word']=li

In [10]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word
0,1,1,A series of escapades demonstrating the adage ...,1,"[A, series, of, escapades, demonstrating, the,..."
1,2,1,A series of escapades demonstrating the adage ...,2,"[A, series, of, escapades, demonstrating, the,..."
2,3,1,A series,2,"[A, series]"
3,4,1,A,2,[A]
4,5,1,series,2,[series]

In [11]:
from nltk.stem import PorterStemmer

In [12]:
ps=PorterStemmer()

In [13]:
ps.stem('does')

'doe'

In [14]:
ps.stem('happened')

'happen'

In [15]:
li3=[]
for i in df.tokenize_word:
    li2=[]
    for j in i:
        li2.append(ps.stem(j))
    li3.append(li2)

In [16]:
df['stemed_word']=li3

In [17]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word,stemed_word
0,1,1,A series of escapades demonstrating the adage ...,1,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th..."
1,2,1,A series of escapades demonstrating the adage ...,2,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th..."
2,3,1,A series,2,"[A, series]","[a, seri]"
3,4,1,A,2,[A],[a]
4,5,1,series,2,[series],[seri]

In [18]:
from nltk.stem import WordNetLemmatizer

In [19]:
lem=WordNetLemmatizer()

In [20]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\arpna\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
lem.lemmatize('does',pos='v')

'do'

In [22]:
lem.lemmatize('demonstrating',pos='v')

'demonstrate'

In [23]:
li5=[]
for i in df.tokenize_word:
    li4=[]
    for j in i:
        li4.append(lem.lemmatize(j,pos='v'))
    li5.append(li4)

In [24]:
df['lemmatized_word']=li5

In [25]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word,stemed_word,lemmatized_word
0,1,1,A series of escapades demonstrating the adage ...,1,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a..."
1,2,1,A series of escapades demonstrating the adage ...,2,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a..."
2,3,1,A series,2,"[A, series]","[a, seri]","[A, series]"
3,4,1,A,2,[A],[a],[A]
4,5,1,series,2,[series],[seri],[series]

In [26]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\arpna\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [27]:
nltk.pos_tag(df['lemmatized_word'].iloc[0])

[('A', 'DT'),
 ('series', 'NN'),
 ('of', 'IN'),
 ('escapades', 'NNS'),
 ('demonstrate', 'VBP'),
 ('the', 'DT'),
 ('adage', 'NN'),
 ('that', 'WDT'),
 ('what', 'WP'),
 ('be', 'VB'),
 ('good', 'JJ'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('goose', 'NN'),
 ('be', 'VB'),
 ('also', 'RB'),
 ('good', 'JJ'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('gander', 'NN'),
 (',', ','),
 ('some', 'DT'),
 ('of', 'IN'),
 ('which', 'WDT'),
 ('occasionally', 'RB'),
 ('amuse', 'VBP'),
 ('but', 'CC'),
 ('none', 'NN'),
 ('of', 'IN'),
 ('which', 'WDT'),
 ('amount', 'NN'),
 ('to', 'TO'),
 ('much', 'RB'),
 ('of', 'IN'),
 ('a', 'DT'),
 ('story', 'NN'),
 ('.', '.')]

In [28]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\arpna\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [29]:
from nltk.corpus import stopwords

In [30]:
stop=stopwords.words('english')

In [31]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [32]:
li6=['i','am','the','only','one','son']

In [33]:
for i in li6:
    if i not in stop:
        print(i)

one
son

In [34]:
li7=[]
for i in df.lemmatized_word:
    li8=[]
    for j in i:
        if j.lower() not in stop:
          li8.append(j)  
    li7.append(li8)

In [35]:
df['withoutstopwords']=li7

In [36]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word,stemed_word,lemmatized_word,withoutstopwords
0,1,1,A series of escapades demonstrating the adage ...,1,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a...","[series, escapades, demonstrate, adage, good, ..."
1,2,1,A series of escapades demonstrating the adage ...,2,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a...","[series, escapades, demonstrate, adage, good, ..."
2,3,1,A series,2,"[A, series]","[a, seri]","[A, series]",[series]
3,4,1,A,2,[A],[a],[A],[]
4,5,1,series,2,[series],[seri],[series],[series]

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
cv=CountVectorizer()

In [39]:
v=cv.fit_transform(df['Phrase'])

In [40]:
import scipy

In [41]:
scipy.sparse.csr_matrix.toarray(v).shape

(156060, 15240)

In [42]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word,stemed_word,lemmatized_word,withoutstopwords
0,1,1,A series of escapades demonstrating the adage ...,1,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a...","[series, escapades, demonstrate, adage, good, ..."
1,2,1,A series of escapades demonstrating the adage ...,2,"[A, series, of, escapades, demonstrating, the,...","[a, seri, of, escapad, demonstr, the, adag, th...","[A, series, of, escapades, demonstrate, the, a...","[series, escapades, demonstrate, adage, good, ..."
2,3,1,A series,2,"[A, series]","[a, seri]","[A, series]",[series]
3,4,1,A,2,[A],[a],[A],[]
4,5,1,series,2,[series],[seri],[series],[series]

In [43]:
df.groupby('Sentiment').get_group(0)

,PhraseId,SentenceId,Phrase,Sentiment,tokenize_word,stemed_word,lemmatized_word,withoutstopwords
101,102,3,would have a hard time sitting through this one,0,"[would, have, a, hard, time, sitting, through,...","[would, have, a, hard, time, sit, through, thi...","[would, have, a, hard, time, sit, through, thi...","[would, hard, time, sit, one]"
103,104,3,have a hard time sitting through this one,0,"[have, a, hard, time, sitting, through, this, ...","[have, a, hard, time, sit, through, thi, one]","[have, a, hard, time, sit, through, this, one]","[hard, time, sit, one]"
157,158,5,Aggressive self-glorification and a manipulati...,0,"[Aggressive, self-glorification, and, a, manip...","[aggress, self-glorif, and, a, manipul, whitew...","[Aggressive, self-glorification, and, a, manip...","[Aggressive, self-glorification, manipulative,..."
159,160,5,self-glorification and a manipulative whitewash,0,"[self-glorification, and, a, manipulative, whi...","[self-glorif, and, a, manipul, whitewash]","[self-glorification, and, a, manipulative, whi...","[self-glorification, manipulative, whitewash]"
201,202,7,Trouble Every Day is a plodding mess .,0,"[Trouble, Every, Day, is, a, plodding, mess, .]","[troubl, everi, day, is, a, plod, mess, .]","[Trouble, Every, Day, be, a, plod, mess, .]","[Trouble, Every, Day, plod, mess, .]"
...,...,...,...,...,...,...,...,...
155965,155966,8539,has turned out nearly 21\/2 hours of unfocused...,0,"[has, turned, out, nearly, 21\/2, hours, of, u...","[ha, turn, out, nearli, 21\/2, hour, of, unfoc...","[have, turn, out, nearly, 21\/2, hours, of, un...","[turn, nearly, 21\/2, hours, unfocused, ,, exc..."
155967,155968,8539,"turned out nearly 21\/2 hours of unfocused , e...",0,"[turned, out, nearly, 21\/2, hours, of, unfocu...","[turn, out, nearli, 21\/2, hour, of, unfocus, ...","[turn, out, nearly, 21\/2, hours, of, unfocuse...","[turn, nearly, 21\/2, hours, unfocused, ,, exc..."
155970,155971,8539,"of unfocused , excruciatingly tedious cinema",0,"[of, unfocused, ,, excruciatingly, tedious, ci...","[of, unfocus, ,, excruciatingli, tediou, cinema]","[of, unfocused, ,, excruciatingly, tedious, ci...","[unfocused, ,, excruciatingly, tedious, cinema]"
155971,155972,8539,"unfocused , excruciatingly tedious cinema",0,"[unfocused, ,, excruciatingly, tedious, cinema]","[unfocus, ,, excruciatingli, tediou, cinema]","[unfocused, ,, excruciatingly, tedious, cinema]","[unfocused, ,, excruciatingly, tedious, cinema]"
155973,155974,8539,", excruciatingly tedious",0,"[,, excruciatingly, tedious]","[,, excruciatingli, tediou]","[,, excruciatingly, tedious]","[,, excruciatingly, tedious]"

In [44]:
X=v
y=df['Sentiment']

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train,X_test,y_train, y_test=train_test_split(X,y)

In [47]:
from sklearn.naive_bayes import BernoulliNB

In [48]:
br=BernoulliNB()

In [49]:
br.fit(X_train, y_train)

BernoulliNB()

In [50]:
br.score(X_test, y_test)

0.5974625144175317

In [51]:
text='shyam is good man'
var=cv.transform([text])

In [52]:
br.predict(var)    #neutral

array([2], dtype=int64)

# Lexican Based Approach

Weight and sentiment package (How many positive and negative words are there)

In [53]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in c:\users\arpna\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\arpna\anaconda3\lib\site-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\arpna\anaconda3\lib\site-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\arpna\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arpna\anaconda3\lib\site-packages (from requests->vaderSentiment) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\arpna\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.4)

In [54]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [55]:
sia=SentimentIntensityAnalyzer()

In [56]:
sia.polarity_scores('It was a bad day')      #shows how much negative the sentence is

{'neg': 0.467, 'neu': 0.533, 'pos': 0.0, 'compound': -0.5423}

In [57]:
sia.polarity_scores('I am a good girl')

{'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compound': 0.4404}

In [58]:
sia.polarity_scores('They killed him with a hammer')    #if compound>0.05->it is positive,if compound<-0.05->it is negative

{'neg': 0.474, 'neu': 0.526, 'pos': 0.0, 'compound': -0.6705}

In [59]:
sia.polarity_scores('kill')

{'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.6908}

# Housing Data

In [60]:
house=pd.read_csv(r'F:\Data science\Projects\USA_Housing.csv')
house.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [61]:
add= cv.fit_transform(house['Address'])
add.shape

(5000, 15237)

In [62]:
X1=add
y1=house['Price']

In [63]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [64]:
lr.fit(X1,y1)

LinearRegression()

In [65]:
lr.score(X1,y1)

0.9999999999991932

In [66]:
X1_train,X1_test,y1_train, y1_test=train_test_split(X1,y1)

In [67]:
lr.fit(X1_train,y1_train)

LinearRegression()

In [68]:
lr_predict=lr.predict(X1_test)

In [69]:
lr.score(X1_test, y1_test)

-0.2788751135397234

In [70]:
lr.score(X1_test, lr_predict)

1.0